.buttons{
    width: clamp(3vw,4vw,60px);
    height: clamp(3vw,4vw,60px);;
    border-radius: 5rem;
    margin: 10px;
    border: grey solid 3px;
    color: grey;
    background-color: black;
    font-size: clamp(2vw,3vw,40px);;
    font-weight: 600;
    z-index: 100;
    cursor: pointer;;
}
.buttons:hover{
    border: lightgray solid 3px;
    color: lightgray;
}
.buttons:active{
    border: #f8d928ce solid 3px;
    color: #f8d928ce;
}
.buttons:focus{
    border: #f8d928ce solid 3px;
    color: #f8d928ce;
    box-shadow: 0 0 1px #fdf25a,0 0 4px #fdf25a, 0 0 8px #fdf25a;
}
button:focus{
    outline: none;
}

.button-container{
    margin: 0 auto;
    display: flexbox;
    margin-top: 50px;
    
}
.row{
    display: flex;
    justify-content: center;

}
.btm-container{
    width: 60%;
    margin: 0 auto;
}
.post-container{
    display: flex;
    justify-content: flex-end;
}
.postBtn{
    background-color: #fffff0b0;
    color: rgb(26, 26, 26);
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    margin-top: 30px;
    height: 50px;
    border-radius: 2rem;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.postBtn:hover{
    background-color: #fffff0e1;
    color: rgb(8, 8, 8);
}
.postBtn:focus{
    background-color: rgba(255, 255, 255, 0.952);
    box-shadow: 0 0 1px white,0 0 4px white, 0 0 8px white;
}
.postBtn:active{
    background-color: #fffff03d;
    color: rgb(153, 153, 153);
}
/* .tactile{
    z-index: 10;
    border-bottom: grey solid 3px;
    padding-bottom: 2px;
}
.tactile:hover{
    border-bottom: lightgrey solid 3px;
}
.tactile:active{
    border-bottom: #f8d928ce solid 3px;
    color: #f8d928ce;
} */