.bulbs{
    width: 45px;
    height: 45px;
    margin:5px;
    color: darkgray;
    border-radius: 5rem;
    background-color:#FFFFF0;
    font-size: 24px;
    font-weight: 600;
    border:none
}
.glow{
    /* width: 45px;
    height: 45px;
    margin:5px;
    border-radius: 5rem; */
    color: rgba(0, 0, 0, 0.808);
    background-color:#fdf25a;
    box-shadow: 0 0 10px #fdf25a,0 0 40px #fdf25a, 0 0 80px #fdf25a;
    /* font-size: 24px;
    font-weight: 600; */
}