.message-board{
    position: fixed;
    display: inline;
    right:-50%;
    top:0%;
    height: 100%;
    background-color: beige;
    padding-top: 10px;
    transition: 1s;

}
.message-board.sideOpen{
    display: inline;
    width:clamp(200px,20vw,300px);
    right:0%;
}
.card{
    margin:20px;
    border-bottom: solid grey 1px;
}
h3{
    margin-left: 20px;
    border-bottom: solid grey 1px;
    padding-bottom: 10px;
}
.user-name{
    font-weight:bold ;
}
.fa-sync-alt{
    color: grey;
    font-size: 16px;
}
.fa-sync-alt:hover{
    color:black
}
.fa-sync-alt:active{
    color:lightgrey
}