.message-board{
    height: 100vh;
    width:0px;
    background-color: beige;
    padding-top: 10px;
    display: none;
    transition: 0.8s;

}
.card{
    margin:20px;
    border-bottom: solid grey 1px;
}
h3{
    margin-left: 20px;
    border-bottom: solid grey 1px;
    padding-bottom: 10px;
}
.user-name{
    font-weight:bold ;
}
.fa-sync-alt{
    color: grey;
    font-size: 16px;
}
.fa-sync-alt:hover{
    color:black
}
.fa-sync-alt:active{
    color:lightgrey
}